/* You can add global styles to this file, and also import other style files */
body {
    background-image: url('https://i.pinimg.com/564x/22/02/a2/2202a23a737c475c09d91080cee3b17c.jpg');
    background-attachment: fixed;
    background-size: cover;

}