  *{
    box-sizing: border-box;
  }
  
  body
  {
    margin: 0;
  }
  
  #Header{
    background-color: lightblue;
    padding: 10px;
    text-align: center;
    border-style: solid;
    font-style: oblique;
  }

  .navBar{
    overflow: hidden;
    background-color:lightskyblue;
    border-style: double;
  }

  .navBar a{
    float: left;
    display: block;
    color:black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: indianred;
    font-size: x-large;
  }

  .navBar a:hover{
    background-color:lightcoral;
    color:white;
  }

  .column 
  {
    float:left;
    width:33.33%;
    padding: 5px;
    text-align: center;
  }
  .row:after 
  {
    content:"";
    display: table;
    clear: both;
  }
  @media screen and (max-width:600px) 
  {
    .column {
      width: 100%;
    }
  }

  /* .row-content
  {
    height: 50%;
    display: flex;
    justify-items: center;
  } */
  
  #row
  {
    /* height: 80%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; */
    padding-top: 6%;
  }


  
   #footer{
      background-color: lightskyblue;
      padding: 0% 5% 0% 1%;
      margin-bottom: 0%;
      border-style: double;
  }
  .div1{
    padding-top: 5.5%;

  }
  #img{
    height:30% ;
    border-style: groove;
    border-color: lightcoral;
  }
  
  .img2{
    height: 30px;
    width: 30px;
    padding: 0 0 5 0;
    float: left;
  }

  #bt01{
    display: flex;
    justify-content: center;
  }