    <div class="navBar">
        <a href="#">Home</a>
        <a href="#">Products</a>
        <a href="#">About</a>
        <a href="#">Contact</a>
        <a href="#">Account</a>
        <a href="#">Login</a>
        <a href="#">Register</a>
    </div>
    <!-- <div>
        <a  href="#"><img class="img2" src="../../../assets/shopping+cart-131964784617578573.png" alt="shopping cart" height="20px" ></a>
        <a  href="#"><img class="img1" src="../../../assets/0c3b3adb1a7530892e55ef36d3be6cb8.png" alt="user icon" height="20px"></a>
    </div> -->

