.Navi {
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
  }
  .center {
      margin-left: 40%;
  }
  #background{
    font-family: Arial, Helvetica, sans-serif;
      width: 100%;
      height: auto;
  }
  
  .border{
    font-family: Arial, Helvetica, sans-serif;
      border-style: solid
  }
  
  .borderItem{
    font-family: Arial, Helvetica, sans-serif;
      border-style: solid;
      width: 20%; 
      height: 80%;
      text-align:center;
  }
  
  #right-content{
    font-family: Arial, Helvetica, sans-serif;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: auto;
      align-items: center;
  }
  
  .row{
    font-family: Arial, Helvetica, sans-serif;
      width: 90%;
      height: 600px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
  }
  
  .itemSize{
    font-family: Arial, Helvetica, sans-serif;
      height: 50%;width: 50%;
      margin:10%;
  }

  #cartBorder{
    font-family: Arial, Helvetica, sans-serif;
    height: 50%;width: 50%;
    border-style: solid;
    margin-left: 25%;
    margin-top: 5%;
  }

  div{
    display:flex ;
    flex-direction: row;
  }